body{
     margin: 0;
     padding: 0;
     background-color: #030637;
     color: #910A67;
}

nav h1{
     text-align: center;
     font-size: 2.5vw;
     text-decoration: solid;
     font-weight: 900;
     font-family: Arial, Helvetica, sans-serif;
}

.container{
     width: 29vw;
     height: 30vw;
     /* background-color: aliceblue; */
     margin-left: auto;
     margin-right: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
}
.box{
     width: 9vw;
     height: 9vw;
     background-color: #720455;
     border: 1px solid;
     border-radius: 2%;
     box-shadow: 2px 2px 10px #AD49E1;
     font-size: 8vw;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     cursor: pointer;
     user-select: none;
     text-shadow: 1px 1px 15px #030637;
}
.box:hover{
     box-shadow: 1px 1px 4px #AD49E1;
}
.bottom-container{
     margin-left: auto;
     margin-right: auto;
     width: 15vw;
     height: 9vw;
     display: flex;
     justify-content: center;
     align-items: center;
}
.winner{
     width: 100%;
     height: 24vw;
     background-color: #3C0753;
     position: fixed;
     top: 10vw;
     z-index: 1;
     display: flex;
     flex-direction: column;
     align-items: center;
     visibility: hidden;
     /* visibility: visible; */
}
.result{
     width: 40vw;
     height: 6vw;
     /* background-color: aliceblue; */
     color: #030637;
     margin-left: auto;
     margin-right: auto;
     margin-top: 4vw;
     text-align: center;
     font-size: 5rem;
     font-family: Arial, Helvetica, sans-serif;
}
.close{
     width: 1.4vw;
     height: 1.4vw;
     margin-top: 0.3%;
     margin-right: 0.2%;
     position: absolute;
     top: 0;
     right: 0;
}
.newGame{
     width: 15vw;
     height: 6vw;
     /* margin-top: 130px; */
     /* background-color: aqua; */
     font-size: 0.6rem;
     display: flex;
     justify-content: center;
     align-items: center;
}
.newGame-button{
     width: 12vw;
     height: 3vw;
     color: #030637;
     background-color: #720455;
     text-align: center;
     padding-top: o.8rem;
     font-size: 1.8rem;
     font-weight: 600;
     box-shadow: 1px 1px 15px #030637;
}
.newGame-button:hover{
     box-shadow: 1px 1px 5px #030637;
}
.reset{
     width: 7vw;
     height: 7vw;
     background-size: cover;
     margin-top: 5px;
}